
.gist-file table {
    background: none;
    margin: 0;
    border: none;
}

.gist-file .highlight {

}

#side-nav-container {
    position: fixed;
    left: 50px;
    top: 50px;
    width: 200px;
}

ul.side-nav li a {
    padding-left: 3px;
    padding-right: 3px;
}


ul.side-nav li.active a {
    background-color: #efefef;
    border: 1px solid #778899;
}

body {
    padding-bottom: 600px;
}

#splash-effect {
    position: absolute;
    top: 10px;
    left: 220px;
}

.splash-block {
    width : 30px;
    height: 30px;
    float: left;
    margin-left: 5px;
    border: 1px solid #003f81;
    font-size: 50px;
    text-align: center;
}

.splash-block.splash-block-one {
    background-color: #4e7dff;
    color: #d9fff1;
}
.splash-block.splash-block-two {
    background-color: #73a0ff;
    color: #d9fff1;
}
.splash-block.splash-block-three {
    background-color: #a9dbff;
    color: #4e7dff;
}
.splash-block.splash-block-four {
    background-color: #d9fff1;
    color: #4e7dff;
}

#logo {
    color: #00264d;
}

div.alert-box.success {
    background-color: #5ca8ff;
}